<div class="article-module">
    <div class="col-sm-8">
        <h3>Article Title Example</h3>
        <p>This should be an Abstract, include a few paragraphs summarizing what full article contains</p>
        <a href="#">Read the full article</a>
    </div>
    <div class="col-sm-4">
        <img src="/images/graph.png" alt="">
    </div>
</div>