<div class="authorship">
    <div class="authorship-img"></div>
    <div class="authorship-info">
        <p class="authorship-name">Martha Lien</p>
        <p class="authorship-position">Thrivent Financial</p>
    </div>
</div>