<div class="bulleted-list">
    <ul>
        <li>
            List item make several items on the list and keep them in order
        </li>
        <li>
            List item make several items on the list and keep them in order
        </li>
        <li>
            List item make several items on the list and keep them in order
        </li>
        <li>
            List item make several items on the list and keep them in order
        </li>
        <li>
            List item make several items on the list and keep them in order. Sometimes list items can get long but that's okay as long as they don't get excessively long; then you should probably crate a new list item
            <ul>
                <li>
                    Sublist items are also useful, but should ideally be used when there ar at least two per parent item
                </li>
                <li>
                    Sublist items are also useful, but should ideally be used when there ar at least two per parent item
                </li>
            </ul>
        </li>
    </ul>
</div>