<p class="legal-disclaimer">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Voluptas illo itaque</a> distinctio minima laboriosam provident quaerat ducimus, fuga saepe tempora excepturi cum sapiente a fugiat ut nulla animi, optio reiciendis.
</p>