<div class="static-item-module">
    <div class="row">
        <div class="col-sm-6">
            <img src="/images/graph.png" alt="">
        </div>
        <div class="col-sm-6">
            <h3>Student loan borrowers by level of balance</h3>
            <p>
                Student loans are most difficult to pay in the beginning when interest accumulates the fastest and you're in an entry-level position.
            </p>
            <p>
                One of the best things you can do if your loan provider has the flexibility is to target your loans with the highest interest rates.
            </p>
        </div>
    </div>
</div>