<div class="video-module">
    <div class="row">
        <div class="col-sm-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ltfPayq9zu4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <h3>Cost of College, in Ping Pong Balls</h3>
            <p>
                Student loans are most difficult to pay in the beginning when interest accumulates the fastest and you're in an entry-level position.
            </p>
            <p>
                One of the best things you can do if your loan provider has the flexibility is to target your loans with the highest interest rates.
            </p>
        </div>
    </div>
</div>