<div class="container-fluid">
    {{> organisms/header title="Article Module" }}

	{{> molecules/article }}

	<div class="code-wrapper">
		<div class="code-snippet">
			<h5>CSS:</h5>
			<pre>
				<code class="language-css">
.article-module img {
  width: 100%;
  border: 10px solid #f4f4f4;
}
				</code>
			</pre>
		</div>
	</div>
</div>