<div class="container-fluid">
    {{> organisms/header title="Banner" }}

    {{> molecules/banner }}

    <div class="code-wrapper">
		<div class="code-snippet">
			<h5>CSS:</h5>
			<pre>
				<code class="language-css">
.banner-module {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 200px;

	text-align: center;
    font-size: 48px;

    background-color: #595959;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;	
}
	          </code>
	        </pre>
	      </div>
	  </div>
</div>
