<div class="container-fluid">
    {{> organisms/header title="Legal / Disclaimer" }}

    {{> molecules/legal-disclaimer }}
	<div class="code-wrapper">
		<div class="code-snippet">
			<h5>CSS:</h5>
			<pre>
				<code class="language-css">
.legal-disclaimer {
	color: #006E74;
}
				</code>
			</pre>
		</div>
	</div>
</div>
