<div class="container-fluid">
    {{> organisms/header title="Q&A Module" }}

	  {{> molecules/qa }}

	<div class="code-wrapper">
		<div class="code-snippet">
			<h5>CSS:</h5>
			<pre>
				<code class="language-css">
.qa-module .accordion {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-family: 'Heebo', sans-serif;
  font-size: 26px;
  line-height: 1.15;
  color: #323a41;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.qa-module .chevron {
  margin-right: 16px;
  width: 22px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/chevrons.png');
  transition: all 0.5s ease;
}
.qa-module .accordion.active .chevron {
  transform: rotate(90deg);
}
.qa-module .panel {
  display: none;
  padding: 0 18px;
  background-color: #fff;
  box-shadow: none;
}
.qa-module .panel p {
  font-family: Sanchez;
  font-size: 17px;
  font-style: italic;
  line-height: 1.53;
  color: #495966;
}
				</code>
			</pre>		
		</div>
		<div class="code-snippet">
			<h5>Javascript:</h5>
			<pre>
				<code class="language-js">
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {

  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    panel.classList.toggle("show");
  });
}
				</code>
			</pre>		
		</div>
	</div>
</div>