<div class="container-fluid">
	{{> organisms/header title="Sources Citation"}}
	
	{{> molecules/sources-citation }}

	<div class="code-wrapper">
		<div class="code-snippet">
			<h5>CSS:</h5>
			<pre><code class="language-css">
.sources-citation h3 {
    font-family: 'Heebo', serif;
    font-size: 26px;
    line-height: 1.15;
    text-align: left;
    font-weight: 300;
    color: #323a41;
}

.sources-citation hr {
    border-top: 2px solid rgba(0, 124, 128, 0.26);
}

.sources-citation ol li {
    position: relative;
    margin-bottom: 12px;
    list-style: none;
}

.sources-citation ol li:last-of-type {
    margin-bottom: 0;
}

.sources-citation ol li span {
    position: absolute;
    left: -26px;
    line-height: 1.8;
    font-family: 'Heebo', sans-serif;
    color: #de4365;
}

.sources-citation ol li a {
    font-size: 18px;
    line-height: 1.78;
    text-align: left;
    text-decoration: underline;
    color: #074679;
}

			</code></pre>
		</div>
	</div>
</div>