<div class="container-fluid">
    {{> organisms/header title="Static Item Module" }}

	{{> molecules/static-item }}

		<div class="code-wrapper">
		<div class="code-snippet">
			<h5>CSS:</h5>
			<pre><code class="language-css">
.static-item-module {
  padding: 50px 0;
  border-top: 2px solid #96d0c8;
  border-bottom: 2px solid #96d0c8;
}
.static-item-module img {
  width: 100%;
  border: 10px solid #F5F1F1;
}
.static-item-module h3 {
  margin: 10px 0 30px;
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  line-height: 1.36;
  text-align: left;
  color: #323a41;
}
.static-item-module p {
  font-family: 'Sanchez', serif;
  font-size: 16px;
  line-height: 1.62;
  text-align: left;
  color: #006e74;
}
			</code></pre>
		</div>
	</div>

</div>
