<div class="container-fluid">
    {{> organisms/header title="Tip" }}

    {{> molecules/tip }}
	
</div>
<div class="code-wrapper">
		<div class="code-snippet">
			<h5>LESS:</h5>
			<pre>
				<code class="language-css">
.tip-module {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 100px;

  position: relative;

  padding: 30px 0 30px 20px;
  border-top: 1px solid #96d0c8;
  border-bottom: 1px solid #96d0c8;

  font-family: 'Sanchez', serif;
  font-size: 24px;
  font-style: italic;
  line-height: 1.08;
  text-align: left;
  color: #495966;
}

.tip-module:before {
  content: 'TIP!';
  position: absolute;
  left: -100px;

  display: block;
  margin-right: 27px;
  padding-top: 26px;

  width: 84px;
  min-width: 84px;
  height: 84px;
  min-height: 84px;

  background-color: #de4365;
  color: #ffffff;
  border-radius: 50%;
  font-family: 'Sanchez', serif;
  font-size: 30.4px;
  font-style: italic;
  text-align: center;
}
			</code>
		</pre>		
	</div>
</div>