<div class="container-fluid">
    {{> organisms/header title="Video Module" }}

	{{> molecules/video-module }}

		<div class="code-wrapper">
		<div class="code-snippet">
			<h5>CSS:</h5>
			<pre><code class="language-css">
.video-module {
	padding: 50px 0;
	border-top: 2px solid #96d0c8;
    border-bottom: 2px solid #96d0c8;

	video {
		width: 100%;
		border: 10px solid #F5F1F1;
	}

	h3 {
		margin: 10px 0 30px;
		font-family: 'Heebo', sans-serif;
		font-size: 22px;
		line-height: 1.36;
		text-align: left;
		color: #323a41;
	}

	p {
		font-family: 'Sanchez', serif;
		font-size: 16px;
		line-height: 1.62;
		text-align: left;
		color: #006e74;
	}
}
			</code></pre>
		</div>
	</div>

</div>
