// Google Fonts

@import url('https://fonts.googleapis.com/css?family=Heebo:400,500|Sanchez:400,400i');

// Fonts 

$heading-font: 'Heebo', sans-serif;
$content-font: 'Sanchez', serif;

// Color Palette

$bluegreen: #007c80;
$bluegreen-2: #006e74;
$thrivent-gray: #495966;
$thrivent-red: #c8102e;
$dark-red: #8c1125;
$twilight-blue: #074679;
$pale-gray: #f6f3f3;
$darkish-pink: #de4365;
$light-pink:#ECA2B2;
$culearn-gray: #5b6770;
$dark-gray: #323a41;
$pale-teal: #96d0c8;
$white: #ffffff;


