.authorship {
  display: flex;
  align-items: center;
}

.authorship-img {
  margin-right: 16px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ECA2B2;
  background-color: #ccc;
  background-image: url('');
  background-size: cover;
  background-position: center;
}

.authorship-name {
  font-family: $heading-font;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.12;
  text-align: left;
  font-style: inherit;
  color: #333a40;
}

.authorship-position {
  font-family: $content-font;
  font-size: 18px;
  text-align: left;
  font-style: inherit;
  color: #006e74;
}