.banner-module {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 200px;

	text-align: center;
    font-size: 48px;

    background-color: #595959;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;	
}