.static-item-module {
	padding: 50px 0;
	border-top: 2px solid #96d0c8;
    border-bottom: 2px solid #96d0c8;

	img {
		width: 100%;
		border: 10px solid #F5F1F1;
	}

	h3 {
		margin: 10px 0 30px;
		font-family: $heading-font;
		font-size: 22px;
		line-height: 1.36;
		text-align: left;
		color: #323a41;
	}

	p {
		font-family: $content-font;
		font-size: 16px;
		line-height: 1.62;
		text-align: left;
		color: #006e74;
	}
}