.promo-callout {
	display: flex;

	padding: 40px 80px;
	background-color: #0D6E73;

    & > div {
      margin: 0 12px;
    }

	.img-wrapper {
      min-width: 20%;
      background-image: url(/images/graph.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
	}

	h2 {
      color: #fff;
      text-align: left;
	}

  .content {
    margin: 0 40px;

	p {
        margin: 0;
		color: #fff;
		font-style: normal;
		font-size: 18px;
	}
  }

  .btn-wrapper {
    display: flex;
    align-items: flex-end;
  }
}